@model List<Albums.Models.Album>

@{ViewData["Title"] = "Index";
}

<h3>Álbums</h3>

<table class="table">
	<thead>
		<tr>
			<th>Título</th>
			<th>Autor</th>
			<th>Fecha de lanzamiento</th>
			<th>Género</th>

		</tr>
	</thead>

	<tbody>
		
			@foreach (var album in Model)
			{
			<tr>
				<td>@album.Name</td>
				<td>@album.Author</td>
				<td>@album.Date.ToString();</td>
				<td>@album.GenreName?.Name;</td>
				<td><a asp-action="Edit" asp-route-id="@album.Id">Editar</a></td>
				<td><a asp-action="Delete" asp-route-id="@album.Id">Eliminar</a></td>
			</tr>	
			}
		
	</tbody>

</table>

<div class="d-flex justify-content-between align-items-center mb-3">
	<span></span>
	<a asp-action="Create" class="btn btn-primary">Agregar nuevo álbum</a>
</div>